.divMenu ul {list-style: none; padding: 0; margin: 0;}
.divMenu ul li {list-style: none; float:left; width:150px;}
.divCheckbox {}
.divNamePrice {float:left;width:250px;}
.menuItemPrice {float:right; margin-right:20px;}
.menuItemName {float:left; }
.divMenuXX ul {float:left;}
.container {margin-left: 20px;}

