.divMenu ul {list-style: none; padding: 0; margin: 0;}
.divMenu ul li {list-style: none; float:left; width:150px;}
.divMenuGroup {margin-left: 30px;}
.divCheckbox {}
.divNamePrice {float:left;width:70%;}
.menuItemPrice {float:right; margin-right:20px;}
.menuItemName {float:left; }
.divMenuXX ul {float:left;}
.container {margin-left: 20px;}
/*
.wide {
    width:100%;
    height:400px;
    background-image:url('/omo/resources/assets/img/blurry1.jpg');
    background-size:100%;
    background-repeat: no-repeat;
}

.wide img {
    width:100%;
}*/

/*
.logo {
    color:#fff;
    font-weight:800;
    font-size:14pt;
    padding:25px;
    text-align:center;
}

.line {
    padding-top:20px;
    white-space:no-wrap;
    overflow:hidden;
    text-align:center;
}*/

